VITE_FIREBASE_API_KEY=AIzaSyBnjeJQ_PFW94Iu8ApFkgpQSu0qb4OhztA
VITE_FIREBASE_AUTH_DOMAIN=projectcard-6a6dd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=projectcard-6a6dd
VITE_FIREBASE_STORAGE_BUCKET=projectcard-6a6dd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=185997930117
VITE_FIREBASE_APP_ID=1:185997930117:web:5b9dc4108ab857aefa03ec
VITE_FIREBASE_MEASUREMENT_ID=G-9SW9B6RCZ5
